{% extends 'base.html.twig' %}

{% block title %}Appreciation{% endblock %}

{% block body %}
    <h1>Appreciation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appreciation.id }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ appreciation.niveau }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ appreciation.commentaire }}</td>
            </tr>
            <tr>
                <th>AjouteLe</th>
                <td>{{ appreciation.ajouteLe ? appreciation.ajouteLe|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_appreciation_index') }}">back to list</a>

    <a href="{{ path('app_appreciation_edit', {'id': appreciation.id}) }}">edit</a>

    {{ include('appreciation/_delete_form.html.twig') }}
{% endblock %}
